version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres_aluno
    environment:
      POSTGRES_DB: aluno_online
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
